<div class="row">
<div class="slides">
    <div class="slide">
    <section class="hero row mobile-column bp:800">
    <img src="{{ society:logo }}"></img>
    <div class="column sizing:fit center-children:ismobile bp:800">
        <h1> {{ society:name }} </h1>
        <h2> Society </h2>
        <h3 class="desktop"> R/ Balangoda Ananda Maithreya Central College </h3>
    </div>
    </section>
    </div>

    <section class="banner bg-secondary">
    {{ text_content }}
        {{ if type==='text' }}
            {{ text }}
        {{ /if }}
    {{ /text_content }}
    </section>

    {{ if (site_globals:display_recent_news) }}
    <div class="slide" id="1">
    <page>
        <h1> Featured News </h1>
        <section class="grid" id="g1">

        {{ collection:news limit="5" }}
        <a href="{{ url }}" class="card {{ first? 'spanrow2
        ' : '' }}" style="background-image:url('{{ featured_image:url }}');">
            <label>
            <b>{{ title }}</b>
            <p>
                {{ abstract }}
            </p>
            </label>
        </a>
        {{ /collection:news }}
        </section>
    </page>
    </div>
    {{ /if }}

    {{ if (site_globals:display_recent_articles) }}
    <div class="slide" id="2">
    <page>
        <h1> Articles </h1>
        <section class="grid" id="g2">

        {{ collection:articles limit="5" }}
        <a href="{{ url }}" class="card" style="background-image:url('{{ featured_image:url }}');">
            <label>
            <b>{{ title }}</b>
            <p>
                {{ abstract }}
            </p>
            </label>
        </a>
        {{ /collection:articles }}
        </section>
    </page>
    </div>
    {{ /if }}

    {{ if (society:link_to_youtube && site_globals:display_youtube_section) }}
    <div class="slide" id="3">
    <page>
        <h1 style="text-align:center;"> TouTube Channel </h1>
        <a target="" href="{{ society:yt_url }}" class="thumbnail-grid" id="g2">
            {{ site_globals:entries }}
                <div class="thumbnail" style="background-image:url('{{ thumbnail }}');background-size:cover;"></div>
            {{ /site_globals:entries }}
            <span class="viewmore">View More</span>
        </a>
    </page>
    </div>
    {{ /if }}

    <div class="slide bg-default" id="4">
    <page>
        {{ site_globals:footer_content }}

        <h1> Contact Us </h1>
        <p> By <a href="mailto://{{ society:email }}">EMail</a> or through one of the platforms below: </p>

        <div class="pillgrid">
        {{ society:social_links }}
            <a href="{{ link }}">
                <div class="pillcard" style="background-color: {{ accent_color }};"> <img src="{{ icon }}" ></img> {{ name }} </div>
            </a>
        {{ /society:social_links}}
        </div>

        <p class="footer"> {{ site_globals:copyright_notice }} </p>
    </page>
    </div>

</div>
</div>
