<div class="row">
<div class="slides">
    <div class="slide" id="1">
    <page>
        <h1> News </h1>
        <section class="grid noanimation">
        {{ collection:news }}
        <a href="{{ url }}" class="card" style="background-image:url('{{ featured_image }}');">
            <label>
            <b>{{ title }}</b>
            <p>{{ abstract }}</p>
            </label>
        </a>
        {{ /collection:news }}
        </section>
    </page>
    </div>
    <article class="wrap">
        <p> {{ site_globals:copyright_notice }}  </p>
    </article>
</div>
</div>
